<div class="mb-3 card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path(@list.photo.key) if @list.photo.attached?%>)">
  <h1 class="title"><%= @list.name %></h1>
</div>

<div>
    <div class="d-flex responsive justify-content-end mb-5 mt-4 mx-3">
    <%= link_to 'Add a bookmark', new_list_bookmark_path(@list), class: "flex-gap btn btn-ghost-square-blue"  %>
      <%= button_to "Delete list",
                            list_path(@list),
                            method: :delete,
                            data: { confirm: "Are you sure you want to delete the '#{@list.name}' list ?" }, class: "flex-gap btn btn-ghost-square-red mx-3" %>
        <%= link_to 'Back', lists_path(@list), class: "flex-gap btn btn-ghost-square"  %>
  </div>

  <div class="container responsive mb-5 cards">
    <% @bookmarks.each do |bookmark| %>
      <div class="card  mx-5 my-3"4 style="width: 23rem;">
        <%= image_tag bookmark.movie.poster_url, class:"card-img-top rounded img-thumbnail img" %>
        <div class="card-body pb-5">
          <strong><h3 class="text-center"><%= bookmark.movie.title %></strong>
           <small><p><%= "⭐#{bookmark.movie.rating.to_i}/10" %></p></h3></small>
          <p class="text-center"><%= bookmark.movie.overview %></p>
          <div class="d-flex "><h4><em>"<%= bookmark.comment %>"</em></h4>
            <%= link_to "❌",
            bookmark_path(bookmark),
            method: :delete,
            data: { confirm: "Are you sure you want to delete '#{bookmark.movie.title}'?" },
            class:"text-end btn-x flex-grow-1 " %>
          </div>

        </div>

</div>
    <% end %>
