<div class="background-new reduce-1">
  <div class="container py-5 ">
    <div class="row">
      <div class="col-12 col-md-6 offset-lg-3">
        <div class="bg-white rounded p-3 shadow">
            <div style="responsive-1" class="header mt-3 mb-5">
                <h3 style="color: white">Add a movie to your <%= @list.name %> list</h3>
            </div>
          <%= simple_form_for [@list, @bookmark] do |f| %>
            <%= f.input :comment, placeholder: 'Enter a comment about the movie' %>
            <%= f.association :movie, prompt: 'Select a movie'%>
            <%= f.submit class: 'btn-ghost-square-blue' %>
             <%= link_to 'Back', lists_path(@list), class: "btn btn-ghost-square mb-1"  %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
